.achievs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1116px;
  &__title {
    font-family: e-Ukraine;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #212529;
    margin-bottom: 60px;
  }

  &__cards {
    display: flex;
    gap: 24px;
    margin-bottom: 60px;
  }

  &__card {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 24px;
    border-radius: 24px;
    border: 1px solid #CED4DA;

    &--title {
      font-family: e-Ukraine;
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      color: #212529;
    }

    &--text {
      font-family: e-Ukraine;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
      color: #343A40;
      width: 213px;
    }
  }

  &__button {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: e-Ukraine;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    background-color: #4E51FF;
    padding: 16px;
    width: 100%;
    border-radius: 100px;
  }
}