.fond {
  position: relative;

  &__title {
    font-family: e-Ukraine;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 32px;
  }

  &__subimg {
    position: absolute;
    top: 0;
    left: 640px;
  }

  &__articles {
    display: flex;
    gap: 33px;
    margin-left: 456px;
  }

  &__article {
    width: 432px;
    font-family: e-Ukraine;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    color: #343A40
  }
}