.wait {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  &__title {
    color:#212529;
    text-align: center;

    font-family: e-Ukraine;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  &__desc {
    width: 550px;
    color:#5D6469;
    text-align: center;

    font-family: e-Ukraine;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
  }

  &__cards {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 40px;
  }

  &__card {
    &--title {
      width: 356px;
      color:#212529;
      font-family: e-Ukraine;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    &--text {
      width: 356px;
      display: flex;
      align-items: center;
      color:#5D6469;
      font-family: e-Ukraine;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
    }
  }

  &__button {
    text-decoration: none;
    color:#FFF;
    text-align: center;
    font-family: e-Ukraine;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding: 15px 0 16px;
    width: 1116px;
    border-radius: 100px;
    background-color: #4E51FF;
  }
}

.carousel .carousel-indicators button{
  width: 16px;
  height: 16px;
  border-radius: 50%;
}



