.wait {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-inline: 24px;

  &__title {
    color: #212529;
    text-align: center;

    font-family: e-Ukraine;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  &__desc {
    width: 550px;
    color: #5D6469;
    text-align: center;

    font-family: e-Ukraine;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
  }

  &__cards {
    // display: flex;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding-bottom: 40px;
    width: 100%;
  }

  &__card {
    position: relative;
    border-radius: 40px;
    height: 450px;

    &--img {
      width: 100%;
      aspect-ratio: 4/3;
      border-radius: 40px 40px 0 0;
    }

    &--title {
      width: 100%;
      color: #212529;
      font-family: e-Ukraine;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    &--text {
      width: 356px;
      display: flex;
      align-items: center;
      color: #5D6469;
      font-family: e-Ukraine;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
    }

    &--button {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
  }

  &__button {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: e-Ukraine;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding: 15px 0 16px;
    width: 1116px;
    border-radius: 100px;
    background-color: #4E51FF;
    transition-duration: .5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.carousel {
  position: relative;
  height: 500px;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-125%);
}

.carousel .carousel-indicators button {

  width: 16px;
  height: 16px;
  border-radius: 50%;

}