@import './reset';
@import './fonts';

@import '../components/Header/Header.scss';
@import './blocks/fond.scss';
@import './blocks/top.scss';
@import './blocks/partners.scss';
@import './blocks/achieves.scss';
@import './blocks/wait.scss';
@import './blocks/donations.scss';
@import './blocks/questions.scss';
@import './blocks/about.scss';


.wishes {
  &__filter {
    &--item {
      outline: none;
      border: none;
      border-bottom: 1px solid #5D6469;
      font-family: e-Ukraine;
      color: #5D6469;
      font-size: 16px;
      line-height: 24px;
    }
  }
}