.wishes {
  margin-bottom: 150px;
  &__title {
    color:#212529;
    font-family: e-Ukraine;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 32px;
  }

  &__error {
    font-family: e-Ukraine;
    text-align: center;
    color: red;
    font-size: 40px;
  }

  &__sort {
    
    margin-bottom: 32px;

    &--inner {
      display: flex;
      gap: 24px;
    }

    &--item {
      cursor: pointer;
      &-title {display: inline;
        font-family: e-Ukraine;
        font-size: 24px;
        line-height: 36px;
        color: #212529;
      }


      &-count {
        display: inline;
        font-family: e-Ukraine;
        font-size: 16px;
        line-height: 24px;
        color: #5D6469;
      }
    }
  }

  &__filter {
    margin-bottom: 120px;
    
    height: 110px;

    &--inner {
      display: flex;
      justify-content: space-between;
    }

    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 260px;
      &-reg {
        width: 260px;
        font-family: e-Ukraine;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #5D6469;
        border: none;
        border-bottom: 1px solid #343A40;
      }

      &-top {
        width: 318px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
      }

      &-title {
        font-family: e-Ukraine;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #5D6469;
      }



      &-bottom {
        margin-top: 20px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        font-family: e-Ukraine;
        font-size: 14px;
        color: #5D6469;
      }

      &-opt {
        cursor: pointer;
        font-family: e-Ukraine;
        font-size: 14px;
        color: #5D6469;
        margin-top: 20px;
      }

      &-budbot {
        display: flex;
        gap: 6px;
        align-items: center;
      }

      &-minmax {
        width: 147px;
        padding: 10px 0;
        border: 1px solid #CED4DA;
        font-family: e-Ukraine;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #5D6469;
      }
    }
    }
  &__cards {
    gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  &__card {
    position: relative;
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 574px;
    padding: 0 24px 24px;

    &--img {
      width: 100%;
      height: auto;
      border-radius: 40px 40px 0px 0px;
    }

    &--title {
      color:#212529;
      font-family: e-Ukraine;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    &--desc {
      display: flex;
      flex-direction: column;
      gap: 6px;

      &-item {
        list-style: disc;
        color:#343A40;
        font-family: e-Ukraine;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
      }
    }

    &--btn {
      text-decoration: none;
      position: absolute;
      bottom: 24px;
      color:#FFF;
      text-align: center;
      font-family: e-Ukraine;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      padding: 15px 0 16px;
      border-radius: 100px;
      background-color: #4e1ff4;
      width: 270px;
    }

    &--reserve {
      color:#343A40;
      font-family: e-Ukraine;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
      background-color: #F2F4FF;
      border-radius: 24px;
      text-align: center;
      width: 197px;
      position: absolute;
      right: 0;
      top: 430px;
    }
  }
}
