.wishes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;

  &__title {
    color: #212529;
    font-family: e-Ukraine;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 32px;
  }

  &__error {
    font-family: e-Ukraine;
    text-align: center;
    color: red;
    font-size: 40px;
  }

  &__sort {

    margin-bottom: 32px;

    &--inner {
      display: flex;
      gap: 24px;
    }

    &--item {
      cursor: pointer;

      &-title {
        display: inline;
        font-family: e-Ukraine;
        font-size: 24px;
        line-height: 36px;
        color: #212529;
      }


      &-count {
        display: inline;
        font-family: e-Ukraine;
        font-size: 16px;
        line-height: 24px;
        color: #5D6469;
      }
    }
  }

  &__filter {
    margin-bottom: 60px;

    height: 110px;

    &--inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      align-items: center;
      position: relative;
    }

    &--item {
      outline: none;
      border: none;
      border-bottom: 1px solid #5D6469;
      font-family: e-Ukraine;
      color: #5D6469;
      font-size: 16px;
      line-height: 24px;
    }

    &--reg {
      border-bottom: 1px solid #5D6469;
      position: relative;

      &-top {
        display: flex;
        justify-content: space-between;
      }

      &-img {
        width: 19px;
        margin: 0;
        padding: 0;
      }

      &-title {
        margin: 0;
        padding: 0;
        font-family: e-Ukraine;
        color: #5D6469;
        font-size: 16px;
        line-height: 24px;
      }

      &-input {
        position: absolute;
        width: 100%;
        border: none;
        border-bottom: 1px solid #5D6469;
        font-family: e-Ukraine;
        color: #5D6469;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &--budget {
      position: absolute;
      right: 0;
      top: 1px;
      width: 250px;

      &-title {
        font-family: e-Ukraine;
        color: #5D6469;
        font-size: 16px;
        line-height: 24px;
      }

      &-range {
        width: 100%;
      }

      &-boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }

      &-minmax {
        border: 1px solid #5D6469;
        font-family: e-Ukraine;
        color: #5D6469;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__card {
    position: relative;
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 574px;
    border: 1px solid #CED4DA;
    border-radius: 40px;

    &--img {
      width: 100%;
      height: auto;
      border-radius: 40px 40px 0px 0px;
    }

    &--title {
      color: #212529;
      font-family: e-Ukraine;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      padding: 0 24px 0;
    }

    &--desc {
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding: 0 45px 0;

      &-item {
        list-style: disc;
        color: #343A40;
        font-family: e-Ukraine;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
      }
    }

    &--btn {
      text-decoration: none;
      position: absolute;
      bottom: 24px;
      color: #FFF;
      text-align: center;
      font-family: e-Ukraine;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      padding: 15px 0 16px;
      border-radius: 100px;
      background-color: #4e1ff4;
      width: 90%;
      border: none;
      transition-duration: .5s;
      margin-left: 5%;

      &:hover {
        transform: scale(1.1);
      }
    }

    &--reserve {
      color: #343A40;
      font-family: e-Ukraine;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
      background-color: #F2F4FF;
      border-radius: 24px;
      text-align: center;
      width: 197px;
      position: absolute;
      right: 0;
      top: 430px;
    }
  }
}