.report {
  &__title {
    color:#212529;
    font-family: e-Ukraine;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__filters {
    display: flex;
    gap: 24px;
    margin-bottom: 60px;

    &--item {
      position: relative;
      color:#212529;
      font-family: e-Ukraine;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      &:hover {
        color: #1E3C8E;
      }

      &:hover::after {
        position: absolute;
        top: 45px;
        display: block;
        content: "";
        height: 8px;
        width: 100%;
        background-color: #1E3C8E;
      }
    }

    &--year {
      color:#212529;
      font-family: e-Ukraine;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }

  &__table {
    background-color: #E9ECEF;
    border-radius: 24px;
    margin-bottom: 60px;
    padding: 40px;

    &--head {
      color:#212529;
      font-family: e-Ukraine;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    &--row {
      color:#5D6469;
      font-family: e-Ukraine;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
    }
  }
}

.button {
  margin: 60px 0 150px;
}