.donate {
  margin-bottom: 150px;
  &__title {
    color:#212529;
    font-family: e-Ukraine;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 60px;
  }

  &__top {
    display: flex;
    gap: 104px;

    &--filters {
      display: flex;
      gap: 24px;
      align-items: center;
      margin-bottom: 64px;
    }

    &--item {
      position: relative;
      color:#212529;
      font-family: e-Ukraine;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      &:hover {
        color: #1E3C8E;
      }

      &:hover::after {
        position: absolute;
        top: 45px;
        display: block;
        content: "";
        height: 8px;
        width: 100%;
        background-color: #1E3C8E;
      }
    }
  }

  &__check {
    color:#212529;
    font-family: e-Ukraine;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    display: flex;
    gap: 6px;
    align-items: center;
  }

  &__fields {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  &__amount {
    padding: 40px;
    border-radius: 40px;
    border: 1px solid #CED4DA;
    width: 546px;
    height: 346px;

    &--top {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-bottom: 28px;

      &-sum {
        height: 78px;
        width: 376px;
        color: #212529;
        font-family: e-Ukraine;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        border: none;
      }

      &-currency {
        color: #5D6469;
        font-family: e-Ukraine;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }

    &--middle {
      display: flex;
      align-items: center;
      gap: 29px;
      margin-bottom: 60px;

      &-btn {
        color:#5D6469;
        text-align: right;
        font-family: e-Ukraine;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        border-radius: 40px;
        border: 1px solid #CED4DA;
        background-color: #fff;
        padding: 2px 7px 5px;
      }
    }

    &--btn {
      text-decoration: none;
      color:#FFF;
      text-align: center;
      font-family: e-Ukraine;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      background-color: #4E51FF;
      border-radius: 100px;
      width: 466px;
      padding: 12px 170px 20px;
      margin-bottom: 20px;
    }
  }

  &__requisites {
    border-radius: 40px;
    border: 1px solid #CED4DA;
    width: 774px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &--title {
      color: #212529;
      font-family: e-Ukraine;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }

    &--subtitle {
      color:#343A40;
      font-family: e-Ukraine;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    &--desc {
      color:#5D6469;
      font-family: e-Ukraine;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
    }

    &--items {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}