.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 48px 45px;

  &__nav {
    display: flex;
    align-items: center;
    gap: 40px;

    &--link {
      text-decoration: none;
      font-family: e-Ukraine;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: #343A40;
    }
  }
}

.active {
  color: #1E3C8E;
}